<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TRProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SignUpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".FindUserIdResultPage"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".FindUserIdSendMailActivity"
            android:exported="false" />
        <activity
            android:name=".FindUserIdMainActivity"
            android:exported="false" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StationSelectActivity" />
        <activity android:name=".DepartureCalendarActivity" />
        <activity android:name=".ArrivalCalendarActivity" />
        <activity android:name=".TrainScheduleActivity" />
        <activity android:name=".ReservationDetailActivity" />
        <activity android:name=".ReservationTicketListActivity" />
        <activity android:name="ReservationSeatTicketListActivity" />
        <activity android:name=".ReservationCancelActivity" />
        <activity android:name="com.sdt.trproject.MyProfileActivity" />
        <activity android:name=".ksh.enquiry.EnquiryActivity" />
        <activity android:name=".ksh.BoardActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sdt.trproject.pictures"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>